/* buttons(header) css */
.btn-header {
  padding: 0.25rem 1.8rem;
  color: #2874f0;
  border: 0.125rem solid white;
  cursor: pointer;
  font-size: medium;
  font-weight: bold;
  background-color: white;
}
/* search btn css */
.search-btn {
  cursor: pointer;
  background-color: white;
  border: none;
  padding-top: 0.4rem;
}
/* buttons(main content) css */
.btn-main {
  padding: 0.7rem 1rem;
  color: white;
  border: 0.125rem solid white;
  cursor: pointer;
  font-size: medium;
  font-weight: bold;
  border: none;
  background-color: #2874f0;
  font-size: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.625rem 3.125rem;
}
.shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.0625rem 0.1875rem 0rem,
    rgba(0, 0, 0, 0.06) 0rem 0.0625rem 0.125rem 0rem;
}
